<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Auto Flipper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>


<h1 class="titleS">Auto Flipper</h1>
<div id="home">
  <div class="container">
    <div class="row">
      <div class="sizing"></div>
      <div class="container">
        <div class="search">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleSelect1" class="nameSearch">Make</label>
                <select class="form-control" id="makeSelect1">
                  <option selected>Make</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="exampleSelect1" class="nameSearch">Model</label>
                <select class="form-control" id="modelSelect1">
                  <-- <option selected>Model</option> !-->
                </select>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label for="exampleSelect1" class="nameSearch">Year</label>
                <select class="form-control" id="yearminSelect1">
                  <option selected>Year</option>
                </select>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label for="exampleSelect1" class="nameSearch">Year</label>
                <select class="form-control" id="yearmaxSelect1">
                  <option selected>Year</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="exampleSelect1" class="nameSearch">Price</label>
                <select class="form-control" id="minSelect1">
                  <option selected>Price</option>
                </select>
              </div>

            </div>

            <div class="col">
              <div class="form-group">
                <label for="exampleSelect1" class="nameSearch">Price</label>
                <select class="form-control" id="maxSelect1">
                  <option selected>Price</option>

                  <div> class="row" class="submitstyle">
                    <input type="submit" class="btn btn-primary btn-lg" id="submitSearch">
                  </div>
              </div>
            </div>


          </div>


        </div>

      </div>

    </div>

  </div>

</div>
<div class="comtainer">
</div>
<form action="POST">
  <div class="row">
    <label>What type of Vehicle</label>
    <input type="text" id="typeV">
  </div>
  <div class="row">
    <label>What Make</label>
    <input type="text" id="typeMake">
  </div>
  <div class="row">
    <label> What model</label>
    <input type="text" id="typeModel">
  </div>
  <div class="row">
    <label>Price</label>
    <input type="text" id="typePrice">
  </div>
  <div class="row">
    <label>Year</label>
    <input type="text" id="typeYear">
  </div>
  <div class="row">
    <label>Description of Vehicle</label>
    <textarea id="typeDes"></textarea>
  </div>
  <div class="row">
    <label>Add vehicle to your list</label>
    <input type="submit" id="submit">
  </div>
</form>

<div class="container">

  {{#each vehicle}}
  <div class="row itemH">
    <div class="col">
      <h5 class="mmpStyle">{{this.make}} : {{this.model}} {{this.price}}</h5>
      <p class="decript">{{this.decription}}</p>
    </div>
    <div class="col"></div>
  </div>
  {{/each}}

</div>
</div>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>