{{#each}}
<div class="container">
    <div>
        <div class="row">


            <div class="col">


            </div>
            <div class="col">

                <p class="NameV">{{this.make}}</p>
                <p class="ModelV"></p>
            </div>
        </div>

    </div>

</div>
{{#each}}


















<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>